name: Build and Push Docker Image

on:
  push:
    branches: [ main ]  # or whichever branch you want
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Log in to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      run: |
        docker build --no-cache --rm -t ${{ secrets.DOCKERHUB_USERNAME }}/my-colmap:ubuntu22 .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-colmap:ubuntu22
